<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>
<h1>First impression of my page </h1>

<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageContriller"*/-->
<span th:text="${variable}"></span>

<br>

<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageContriller"*/-->
<span>2 * 2= </span></span><span th:text="${two}*${two}"> </span>
<br>
<span>2 * 2 + 2= </span></span><span th:text="${two}*${two}+${two}"> </span>
<br>
<span>2 - 2 * 2= </span></span><span th:text="${two}-${two}*${two}"> </span>

<p th:text="${companyConfig.getCompanyName()}"></p>

</body>
</html>